/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

button{
    width:100px;
}
img{
    width: 100px;
    position:absolute;
     left: 31%;
     transform: translateY(-20%);
   
}
.mat-card{
    width: 400px;
    height: 200px;
    margin-bottom: 10px;
}
.background{
    background-image:url(../src/assets/image.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100%;
}
.footer{
    position:absolute;
    bottom:1;
    height:0;
    font-size:10px;
    text-align:center;
    width:170%;
}

